{% extends "base.html.j2" %}
{% block title %}
    Music&video Downloader
{% endblock %}
{% block body %}
    <p>
        <!-- <h2 class="margin">Pirataria nunca foi tão facil</h2> -->
        <h3 class="margin">Projeto sem fins lucrativos</h3>
            Este site foi desenvolvido por dois alunos da UERGS<br />
            as motivações que levaram ao desenvolvimento des projeto<br /> são
            apenas academicas, os desenvolvedores não se responsabilizam por
            <br />qualquer uso indevido das funcionalidades deste site.
    </p>

{% endblock %}
