{% extends "base.html.j2" %}
{% block title %}
    Baixe vídeos do youtube facilmente
{% endblock %}
{% block style %}
    {{super()}}
<style>
    ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #1abc9c;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    color: #1abc9c;
  }
  :-ms-input-placeholder { /* IE 10+ */
    color: #1abc9c;
  }
  :-moz-placeholder { /* Firefox 18- */
    color: #1abc9c;
  }
  input{
    color: #1abc9c
  }
</style>
{% endblock %}
{% block body %}
    <h3 >Youtube Downloader</h3>
    <h3>digite abaixo o link ou nome do video desejado</h3>
      <form method="POST" action="YoutubeDownloader/baixar">


        <input type="text" name="vid_name"  placeholder="Digite o link/nome">
        <input type="checkbox" name="mp3" aria-label="Checkbox for following text input">Apenas mp3
        <br /><br />
        <input class="btn btn-secondary btn-lg" type="submit" value="Download">
      </form>

{% endblock %}
